<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="css/site.css" />
</head>
<body>
    <div id="pager">
        <ul class="zoom zoom-sm">
            <li><a href="#" data-char="#">#</a></li>
            <li><a href="#" data-char="A">A</a></li>
            <li><a href="#" data-char="B">B</a></li>
            <li><a href="#" data-char="C">C</a></li>
            <li><a href="#" data-char="E">E</a></li>
            <li><a href="#" data-char="D">D</a></li>
            <li><a href="#" data-char="F">F</a></li>
            <li><a href="#" data-char="G">G</a></li>
            <li><a href="#" data-char="H">H</a></li>
            <li><a href="#" data-char="I">I</a></li>
            <li><a href="#" data-char="J">J</a></li>
            <li><a href="#" data-char="K">K</a></li>
            <li><a href="#" data-char="L">L</a></li>
            <li><a href="#" data-char="M">M</a></li>
            <li><a href="#" data-char="N">N</a></li>
            <li><a href="#" data-char="O">O</a></li>
            <li><a href="#" data-char="P">P</a></li>
            <li><a href="#" data-char="Q">Q</a></li>
            <li><a href="#" data-char="R">R</a></li>
            <li><a href="#" data-char="S">S</a></li>
            <li><a href="#" data-char="T">T</a></li>
            <li><a href="#" data-char="U">U</a></li>
            <li><a href="#" data-char="V">V</a></li>
            <li><a href="#" data-char="W">W</a></li>
            <li><a href="#" data-char="X">X</a></li>
            <li><a href="#" data-char="Y">Y</a></li>
            <li><a href="#" data-char="Z">Z</a></li>
        </ul>
    </div>
    <div class="page-header"></div>
    <div class="container-fluid">
        <div class="form-group">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-success" title="Add recipe" onclick="$('#EditRecipeModal').trigger('editrecipe.load', {}).modal('show')">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <div id="recipelist">
        </div>
    </div>
    <div class="modal fade" id="EditRecipeModal" tabindex="-1" role="dialog" aria-labelledby="EditRecipeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <form id="editrecipe" class="modal-content" action="saverecipe" method="post" novalidate="novalidate">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="EditRecipeModalLabel">
                        <span id="editrecipe-addtitle">Add Recipe</span>
                        <span id="editrecipe-edittitle">Edit Recipe</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <!--<input type="hidden" id="editrecipe-recipeid" name="recipe[RecipeId]" />-->
                        <input type="hidden" id="editrecipe-uniqueid" name="recipe[UniqueId]" />
                        <!--<input type="hidden" id="editrecipe-revision" name="recipe[Revision]" />-->
                        <input type="hidden" id="editrecipe-createdate" name="recipe[CreateDate]" />
                        <div class="form-group">
                            <label for="editrecipe-name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" id="editrecipe-name" class="form-control" name="recipe[Name]" required="required" maxlength="256" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editrecipe-servings" class="col-sm-3 control-label">Servings</label>
                            <div class="col-sm-9">
                                <input type="number" id="editrecipe-servings" class="form-control" name="recipe[Servings]" min="1" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editrecipe-calories" class="col-sm-3 control-label">Calories</label>
                            <div class="col-sm-9">
                                <input type="number" id="editrecipe-calories" class="form-control" name="recipe[Calories]" min="0" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editrecipe-preptime" class="col-sm-3 control-label">Prep (min)</label>
                            <div class="col-sm-9">
                                <input type="number" id="editrecipe-preptime" class="form-control" name="recipe[PrepTime]" min="0" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editrecipe-cooktime" class="col-sm-3 control-label">Cook (min)</label>
                            <div class="col-sm-9">
                                <input type="number" id="editrecipe-cooktime" class="form-control" name="recipe[CookTime]" min="0" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="editrecipe-totaltime" class="col-sm-3 control-label">Total (min)</label>
                            <div class="col-sm-9">
                                <input type="number" id="editrecipe-totaltime" class="form-control" name="recipe[TotalTime]" min="0" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="editrecipe-notes" class="control-label">Notes</label>
                        <textarea id="editrecipe-notes" class="form-control" name="recipe[Notes]" maxlength="1024"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <fieldset>
                                    <legend class="h4">Ingredients<button type="button" id="editrecipe-addingredient" class="btn btn-success btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button></legend>
                                    <div id="ingredients">
                                        <div id="ingredients-empty" class="text-muted">There are no ingredients.</div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <fieldset>
                                    <legend class="h4">Directions<button type="button" id="editrecipe-adddirection" class="btn btn-success btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button></legend>
                                    <div id="directions">
                                        <div id="directions-empty" class="text-muted">There are no directions.</div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div id="EditRecipeSaveFailure" class="alert alert-danger" role="alert">
                        Failed to save recipe.
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="scripts" hidden>
        <input type="hidden" id="recipes" value="{{json Recipes /}}" />
        <input type="hidden" id="units" value="{{json Units /}}" />
        {{template "recipeview.html" "RecipeViewTemplate" /}}
        {{template "ingredient.html" "IngredientTemplate" /}}
        {{template "direction.html" "DirectionTemplate" /}}
        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="js/jquery.validate.unobtrusive.min.js"></script>
        <script type="text/javascript" src="js/jsrender.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </div>
</body>
</html>
