<div class="direction">
    <input type="hidden" class="direction-step" name="recipe[Directions][][Step]" value="{{:Direction.Step}}" />
    <div class="media">
        <div class="media-body">
            <div class="form-group form-group-sm">
                <!--<label for="direction{{:i}}-description" class="control-label">Description</label>-->
                <textarea id="direction{{:i}}-description" class="form-control direction-description" name="recipe[Directions][][Description]" required="required" maxlength="1024" spellcheck="true">{{:Direction.Description}}</textarea>
            </div>
        </div>
        <div class="media-right media-middle">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-danger" onclick="$(this).closest('.direction').remove(); $('#directions').trigger('editrecipe.reorder');">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
    </div>
</div>