<div class="panel-group" role="tablist" aria-multiselectable="true">
    {{props #data}}
    <div class="panel panel-default" data-group="{{:key}}">
        <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist">
                {{for prop ~length=prop.length}}
                <li role="presentation" {{if #index === (~length - 1)}}class="active"{{/if}}><a href="#recipe-collapse-{{:RecipeId}}" aria-controls="recipe-collapse-{{:RecipeId}}" role="tab" data-toggle="tab">Rev {{:Revision}}</a></li>
                {{/for}}
            </ul>
            <div class="tab-content">
                {{for prop ~length=prop.length}}
                <div role="tabpanel" class="tab-pane {{if #index === (~length - 1)}}active{{/if}}" id="recipe-collapse-{{:RecipeId}}">
                    <div class="recipe" data-recipe="{{:RecipeId}}" data-name="{{:Name}}">
                        <h3>{{:Name}}</h3>
                        <dl class="dl-horizontal">
                            <dt>Prep</dt>
                            <dd>{{:PrepTime}}</dd>
                            <dt>Cook</dt>
                            <dd>{{:CookTime}}</dd>
                            <dt>Total</dt>
                            <dd>{{:TotalTime}}</dd>
                            <dt>Servings</dt>
                            <dd>{{:Servings}}</dd>
                            <dt>Calories</dt>
                            <dd>{{:Calories}}</dd>
                        </dl>
                        <div class="row">
                            {{props IngredientGroups}}
                            <div class="col-sm-6">
                                <h5>{{if key !== '0'}}{{:key}}{{/if}}</h5>
                                <ul>
                                    {{for prop}}
                                    {{if UnitCode === 'EA'}}
                                    <li>{{:QuantityFraction}} {{:Name}}</li>
                                    {{else}}
                                    <li>({{:QuantityFraction}} {{:Unit.ShortName}}) {{:Name}}</li>
                                    {{/if}}
                                    {{/for}}
                                </ul>
                            </div>
                            {{/props}}
                        </div>
                        <ol>
                            {{for Directions}}
                            <li>{{:Description}}</li>
                            {{/for}}
                        </ol>
                        <p>{{html Notes /}}</p>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default" title="Revise recipe" onclick="$('#EditRecipeModal').trigger('editrecipe.load', FindRecipe(parseInt($(this).closest('[data-recipe]').attr('data-recipe'), 10))).modal('show')">
                                <span class="glyphicon glyphicon-edit"></span>&nbsp;Revise
                            </button>
                        </div>
                    </div>
                </div>
                {{/for}}
            </div>
        </div>
    </div>
    {{else}}
    <p>There are no recipes.</p>
    {{/props}}
</div>