<div class="panel-group" role="tablist" aria-multiselectable="true">
    {{props #data}}
    <div class="panel panel-default" data-group="{{:key}}">
        <div class="panel-body">
            {{if prop.length > 1}}
            <ul class="nav nav-tabs" role="tablist">
                {{for prop ~length=prop.length}}
                <li role="presentation" {{if #index === (~length - 1)}}class="active"{{/if}}><a href="#recipe-collapse-{{:RecipeId}}" aria-controls="recipe-collapse-{{:RecipeId}}" role="tab" data-toggle="tab">Rev {{:Revision}}</a></li>
                {{/for}}
            </ul>
            {{/if}}
            <div class="tab-content">
                {{for prop ~length=prop.length}}
                <div role="tabpanel" class="tab-pane {{if #index === (~length - 1)}}active{{/if}}" id="recipe-collapse-{{:RecipeId}}">
                    <div class="recipe" data-recipe="{{:RecipeId}}" data-name="{{:Name}}">
                        <h3>{{:Name}}</h3>
                        <div class="media">
                            <div class="media-left">
                                <dl class="dl-horizontal" style="margin-right: 60px;">
                                    <dt>Prep</dt>
                                    <dd>{{:PrepTime}}</dd>
                                    <dt>Cook</dt>
                                    <dd>{{:CookTime}}</dd>
                                    <dt>Total</dt>
                                    <dd>{{:TotalTime}}</dd>
                                    <dt>Servings</dt>
                                    <dd>{{:Servings}}</dd>
                                    <dt>Calories</dt>
                                    <dd>{{:Calories}}</dd>
                                </dl>
                            </div>
                            <div class="media-body">
                                <div id="recipes-images-{{:RecipeId}}" class="row">
                                    {{for Images ~UniqueId=UniqueId}}
                                    <div class="col-md-3 col-sm-4 col-xs-6" style="width: auto;">
                                        <button type="submit" class="btn btn-danger btn-xs recipe-photo-delete" formaction="/data/{{:~UniqueId}}/photo/{{:#data}}" style="position: absolute; top: 3px; right: 5px; border-radius: 12px;">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <a href="#" class="thumbnail recipe-photo" data-id="{{:~UniqueId}}" data-image="{{:#data}}">
                                            <img src="/data/{{:~UniqueId}}/photo/{{:#data}}" alt="{{:#data}}" style="height: 160px;" />
                                        </a>
                                    </div>
                                    {{/for}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {{props IngredientGroups}}
                            <div class="col-sm-6">
                                <h5>{{if key !== '0'}}{{:key}}{{/if}}</h5>
                                <ul>
                                    {{for prop}}
                                    {{if UnitCode === 'EA'}}
                                    <li>{{:Quantity}} {{:Name}}</li>
                                    {{else}}
                                    <li>({{:Quantity}} {{:Unit.ShortName}}) {{:Name}}</li>
                                    {{/if}}
                                    {{/for}}
                                </ul>
                            </div>
                            {{/props}}
                        </div>
                        <ol>
                            {{for Directions}}
                            <li>{{:Description}}</li>
                            {{/for}}
                        </ol>
                        <p>{{html Notes /}}</p>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-primary" title="Revise recipe"
                                onclick="$('#EditRecipeModal').trigger('editrecipe.load', Recipes.Find(parseInt($(this).closest('[data-recipe]').attr('data-recipe'), 10))).modal('show')">
                                <span class="glyphicon glyphicon-edit"></span>&nbsp;Revise
                            </button>
                            <button type="button" class="btn btn-default" title="Upload images"
                                onclick="$('#UploadImageModal').trigger('uploadimage.load', Recipes.Find(parseInt($(this).closest('[data-recipe]').attr('data-recipe'), 10))).modal('show')">
                                <span class="glyphicon glyphicon-picture"></span>&nbsp;Upload Image
                            </button>
                        </div>
                    </div>
                </div>
                {{/for}}
            </div>
        </div>
    </div>
    {{else}}
    <p>There are no recipes.</p>
    {{/props}}
</div>